.text-white {
  color: #fff !important; }

.center-text {
  text-align: center; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeOut {
  0% {
    opacity: 0; }
  80% {
    transform: scaleY(1.5); }
  100% {
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: background-color 0.7s ease, color 1s ease; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #444;
  background-color: lightblue; }

.heading-primary--sub, .heading-1, .heading-2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-primary--main {
  display: block;
  font-size: 1.7rem;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  line-height: 2;
  letter-spacing: .2rem;
  animation: fadeOut 3s; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary--main {
      font-size: 1.6rem;
      margin-bottom: 0.5rem; } }
  @media only screen and (max-width: 25em) {
    .heading-primary--main {
      font-size: 1.4rem;
      margin-bottom: 0.5rem; } }

.heading-primary--sub {
  display: block;
  font-size: 2.6rem;
  color: #faf9f9;
  text-transform: uppercase;
  letter-spacing: .2rem;
  animation: moveInRight 4s 3s; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary--sub {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 25em) {
    .heading-primary--sub {
      font-size: 1.7rem; } }

.heading-1 {
  font-size: 2.8rem;
  color: #faf9f9;
  text-transform: uppercase;
  letter-spacing: .2rem;
  line-height: 1;
  animation: moveInLeft 3s; }
  @media only screen and (max-width: 37.5em) {
    .heading-1 {
      font-size: 2rem; } }
  @media only screen and (max-width: 25em) {
    .heading-1 {
      font-size: 1.8rem;
      line-height: 0; } }

.heading-2 {
  display: inline-block;
  font-size: 1.8rem;
  color: var(--font-color);
  text-transform: uppercase;
  justify-self: start;
  align-self: center; }

.heading-3 {
  display: block;
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: .2rem;
  line-height: 1.5;
  animation: moveInRight 4s 1s; }
  @media only screen and (max-width: 37.5em) {
    .heading-3 {
      font-size: 1.5rem;
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 25em) {
    .heading-3 {
      font-size: 1.3rem; } }

.btn {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit; }
  .btn--add {
    display: flex;
    align-items: center;
    justify-content: center; }
    .btn--add:link, .btn--add:visited {
      display: inline-block;
      text-decoration: none;
      background-color: #01baef;
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 50%;
      text-align: center; }
      .btn--add:link__icon, .btn--add:visited__icon {
        font-size: 2.8rem;
        color: #fff; }
  .btn__room {
    grid-column: 1 / -1; }
    .btn__room:link, .btn__room:visited {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 600;
      color: #fff;
      text-transform: uppercase;
      background-color: #01baef;
      padding: 1.5rem 3rem;
      transition: all .3s; }
    .btn__room:hover {
      background-color: #05a7d4; }
  .btn__scenario {
    grid-column: 1 / -1;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    background-color: #01baef;
    padding: .7rem 3rem;
    transition: all .3s; }
    .btn__scenario:hover {
      background-color: #05a7d4; }
  .btn--submit {
    align-self: stretch;
    background-color: #01baef;
    padding: 1rem 4rem;
    width: 100%;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    margin-top: .5rem;
    transition: all .3s; }
    .btn--submit:focus {
      outline: none; }
    .btn--submit:hover {
      background-color: #05a7d4; }

@media only screen and (min-width: 37.5em) {
  .btn__room {
    grid-column: 1 / -1; }
    .btn__room:link, .btn__room:visited {
      font-size: 1.5rem;
      font-weight: 300;
      letter-spacing: .1rem;
      padding: .5rem 3rem; }
    .btn__room .btn--add {
      background-color: #01baef;
      height: 1rem;
      width: 2rem;
      border-radius: 50%;
      justify-self: end;
      align-self: center;
      text-align: center; }
      .btn__room .btn--add__icon {
        font-size: .1rem;
        color: #fff; } }

.device-add {
  background-color: #f3f3f3;
  padding: 3rem; }
  .device-add__heading {
    display: flex;
    justify-content: center;
    margin-left: 3rem; }
  .device-add__title {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2.5rem; }
  .device-add__icon {
    width: 3rem;
    height: 3rem;
    fill: #5f5d5d; }
  .device-add__container {
    width: 100%;
    display: flex;
    justify-content: center; }
  .device-add__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .device-add__group {
    margin-bottom: 2.5rem; }
  .device-add__label {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 0.8rem; }
  .device-add__input {
    width: 70%;
    display: inline-block;
    padding: 1rem 4rem;
    border-radius: .5rem;
    border: none;
    background-color: #fff;
    border: 1px solid #999;
    transition: all .3s; }
    .device-add__input::-webkit-input-placeholder {
      font-size: 1.5rem; }
    .device-add__input:focus {
      outline: none;
      box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.3); }
  .device-add--add {
    cursor: pointer;
    display: inline-block;
    background: none;
    border: none;
    padding: 1.3rem 6rem;
    background-color: #01baef;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    border-radius: 10rem;
    transition: all .3s; }
    .device-add--add:hover {
      transform: translateY(-3px);
      box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.3); }
    .device-add--add:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1.8rem rgba(0, 0, 0, 0.3); }
    .device-add--add:focus {
      outline: none; }

.room-device {
  position: relative;
  border: 2px solid #eee;
  background-color: #ffff;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all .3s;
  border-radius: .9rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .room-device__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem; }
    .room-device__icon-img {
      height: 8rem; }
  .room-device__container {
    display: flex; }
  .room-device__title {
    font-family: "Nunito", sans-serif;
    font-size: 1.3rem;
    color: #101d2c;
    text-transform: uppercase; }
  .room-device__active {
    display: flex;
    align-items: center;
    position: absolute;
    right: 1.5rem;
    top: 3rem;
    text-transform: uppercase; }
    @media (max-width: 37.5em) {
      .room-device__active {
        right: .7rem;
        top: 3rem; } }
    @media (max-width: 25em) {
      .room-device__active {
        right: .5rem;
        top: 3rem; } }
    .room-device__active-current {
      display: inline-block;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      margin-right: .5rem; }
      .room-device__active-current-1 {
        background-color: red; }
      .room-device__active-current-2 {
        background-color: #32CD32; }
    .room-device__active-text {
      font-size: 1.3rem; }
  .room-device__room-name {
    font-size: 1rem;
    margin-right: 1.5rem;
    margin-bottom: .8rem; }
  .room-device__info {
    display: flex;
    align-items: center; }
    .room-device__info-status {
      display: flex;
      align-items: center;
      position: absolute;
      right: 2rem;
      top: 2rem; }
    .room-device__info-current {
      height: 1.1rem;
      width: 1.1rem;
      border-radius: 50%;
      background-color: #32CD32;
      margin-right: .3rem; }
    .room-device__info-text {
      font-size: 1.1rem;
      text-transform: uppercase; }
  .room-device__cta {
    display: flex;
    justify-content: center; }
    .room-device__cta--remove {
      margin-right: 1rem; }
    .room-device__cta--remove, .room-device__cta--add {
      cursor: pointer;
      background: none;
      border: none;
      display: flex;
      align-items: center;
      padding: .5rem;
      transition: background-color .3s; }
      .room-device__cta--remove:hover, .room-device__cta--add:hover {
        background-color: #f7f7f7;
        border-radius: .3rem; }
      .room-device__cta--remove span, .room-device__cta--add span {
        font-size: 1rem;
        text-transform: uppercase; }
      .room-device__cta--remove:focus, .room-device__cta--add:focus {
        outline: none; }
    .room-device__cta-icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: #01baef;
      margin-right: .5rem; }
  .room-device__add {
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center; }
    .room-device__add-text {
      font-family: "Nunito", sans-serif;
      font-size: 1.3rem;
      color: #101d2c;
      text-transform: uppercase; }
  .room-device--add {
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
    font-weight: inherit;
    background: none;
    border: none;
    margin-top: 5.2rem;
    transition: all .4s; }
    .room-device--add:focus {
      outline: none; }
    .room-device--add-icon {
      height: 3.5rem;
      width: 3.5rem;
      fill: #01baef; }

.device-name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.7rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem; }

.device-control {
  border: 1px solid #eee;
  border-radius: .5rem; }
  .device-control__nav {
    height: 4rem; }
  .device-control__list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center; }
  .device-control__item {
    cursor: pointer;
    transition: all .3s; }
    .device-control__item i {
      display: inline-block;
      font-size: 3rem;
      transition: all .2s; }
    .device-control__item:hover i {
      transform: scale(1.1);
      color: #01baef; }
  .device-control__main {
    padding: 3rem 0;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem; }
    .device-control__main-mode {
      font-size: 1.4rem;
      margin-bottom: 1.5rem; }
    .device-control__main-panel {
      height: 15rem;
      width: 15rem;
      border-radius: 50%;
      position: relative; }
      .device-control__main-panel::after {
        content: "";
        display: inline-block;
        height: 11rem;
        width: 11rem;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 100;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .device-control__main-panel-1 {
        background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%); }
      .device-control__main-panel-2 {
        background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%); }
    .device-control__main-info {
      position: absolute;
      top: 50%;
      left: 53%;
      transform: translate(-50%, -50%);
      z-index: 400;
      text-align: center; }
    .device-control__main-value {
      font-size: 1.8rem; }
    .device-control__main-text {
      font-size: .8rem; }
  .device-control__controller {
    margin-top: 2.5rem;
    display: flex;
    align-items: center; }
  .device-control__plus, .device-control__minus {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #eee;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
    transition: all .4s;
    box-shadow: 0 0.3rem 6rem rgba(0, 0, 0, 0.2);
    margin-right: 1.5rem;
    margin-left: 1.5rem; }
    .device-control__plus-icon, .device-control__minus-icon {
      width: 1.8rem;
      height: 1.8rem;
      fill: #101d2c; }
    .device-control__plus:hover, .device-control__minus:hover {
      transform: translateY(-3px);
      box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2); }
    .device-control__plus:active, .device-control__minus:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1); }
  .device-control__range {
    align-self: center; }
    .device-control__range input[type=range] {
      -webkit-appearance: none;
      width: 25rem;
      background-color: #f7f7f7; }
    .device-control__range input[type=range]:focus {
      outline: none; }
    .device-control__range-input-1[type=range]::-webkit-slider-runnable-track {
      background: linear-gradient(to right, #00c6fb 0%, #005bea 100%); }
    .device-control__range-input-2[type=range]::-webkit-slider-runnable-track {
      background: linear-gradient(to right, #f9d423 0%, #ff4e50 100%); }
    .device-control__range input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 6px;
      cursor: pointer;
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      border-radius: 25px;
      border: 0px solid #000101; }
    .device-control__range input[type=range]::-webkit-slider-thumb {
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      border: 0px solid #000000;
      height: 25px;
      width: 15px;
      border-radius: 3px;
      background: #fff;
      border: 1px solid #777;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -9.5px; }
    .device-control__range-input-1[type=range]:focus::-webkit-slider-runnable-track {
      background-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%); }
    .device-control__range-input-2[type=range]:focus::-webkit-slider-runnable-track {
      background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%); }
  .device-control__range-input {
    width: 24rem;
    padding: 4rem 0rem; }
  .device-control__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem; }
    .device-control__cta--power, .device-control__cta--sleep, .device-control__cta--timing, .device-control__cta--setup {
      cursor: pointer;
      height: 3rem;
      width: 3rem;
      background: none;
      border: none;
      border: 1px solid #eee;
      box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      padding: .5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .3s;
      margin-right: 1.5rem;
      margin-left: 1.5rem; }
      .device-control__cta--power:hover, .device-control__cta--sleep:hover, .device-control__cta--timing:hover, .device-control__cta--setup:hover {
        background-color: #eee;
        transform: translateY(-1.3px); }
      .device-control__cta--power:active, .device-control__cta--sleep:active, .device-control__cta--timing:active, .device-control__cta--setup:active {
        transform: translateY(1px);
        border-radius: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2); }
      .device-control__cta--power:focus, .device-control__cta--sleep:focus, .device-control__cta--timing:focus, .device-control__cta--setup:focus {
        outline: none; }
    .device-control__cta-icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: #101d2c; }

.control__switch {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 5px; }

.control__switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.control__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.control__slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 15px;
  left: 4px;
  top: -.7rem;
  bottom: -1px;
  background-color: #01baef;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .control__slider {
  background-color: #2196F3; }

input:focus + .control__slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .control__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(10px); }

/* Rounded sliders */
.control__slider.control__round {
  border-radius: 34px; }

.control__slider.control__round:before {
  border-radius: .3rem; }

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 4rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 5s;
  z-index: 30; }

.close-modal {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
  display: block;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.3rem 6rem rgba(0, 0, 0, 0.3);
  transition: all .3s; }
  .close-modal:focus {
    outline: none; }
  .close-modal:hover {
    background-color: #01baef;
    border: none; }
  .close-modal:hover .close-modal__icon {
    fill: #fff; }
  .close-modal__icon {
    width: 1.5rem;
    height: 1.5rem; }

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem; }

p {
  font-size: 1.8rem; }

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none; }

.modal {
  position: absolute;
  top: 60%;
  left: 53%;
  transform: translate(-50%, -50%);
  width: 65%;
  background-color: white;
  padding: 4.3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 8000; }
  @media (max-width: 37.5em) {
    .modal {
      top: 63%;
      left: 50%;
      width: 100%; } }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px); }
  @supports (-webkit-backdrop-filter: blur(3px)) or (backdrop-filter: blur(3px)) {
    .overlay {
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px); } }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .form__logo-box {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem; }
  .form__logo {
    height: 5rem; }
  .form__group {
    margin-bottom: 1.5rem; }
  .form__label {
    display: inline-block;
    font-family: inherit;
    font-size: 1.4rem;
    margin-bottom: .3rem;
    color: #101d2c; }
  .form__input {
    font-size: 1.3rem;
    width: 100%;
    padding: 1.2rem 2rem;
    border: 1px solid #EDEDED;
    transition: all .3s; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 1.2px solid #01baef; }
    .form__input:focus:invalid {
      border-bottom: 1.2px solid #ff7730; }
    .form__input::-webkit-input-placeholder {
      color: #999; }
  .form__checkbox-group {
    display: flex;
    align-items: center; }
  .form__checkbox-input {
    margin-right: .5rem; }
  .form__checkbox-label {
    font-size: 1.4rem; }
  .form__signup-question {
    font-size: 1.1rem; }
    .form__signup-question a:link,
    .form__signup-question a:visited {
      font-family: inherit;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      color: #01baef;
      font-weight: 800;
      padding: 0 .5rem; }
  .form__signup-list {
    margin-top: 1.5rem;
    list-style: none;
    display: flex;
    justify-content: space-evenly; }
  .form__signup-item {
    border: .1px solid #888787;
    width: 10rem;
    margin-right: .8rem; }
  .form__signup-link {
    display: inline-block;
    text-decoration: none;
    padding: .3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #101d2c;
    font-size: 1.2rem; }
    .form__signup-link:hover {
      background-color: #f7f7f7; }
  .form__signup-icon {
    display: inline-block;
    font-size: 2rem;
    margin-right: .5rem; }
    .form__signup-icon-1 {
      color: #3b5998; }
    .form__signup-icon-2 {
      color: #1da1f2; }
    .form__signup-icon-3 {
      color: #ea4335; }

.device__switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 5px; }

.device__switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.device__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.device__slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: -5px;
  background-color: #01baef;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .device__slider {
  background-color: #2196F3; }

input:focus + .device__slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .device__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(10px); }

/* Rounded sliders */
.device__slider.device__round {
  border-radius: 34px; }

.device__slider.device__round:before {
  border-radius: 50%; }

.temperature-box {
  margin-top: 2.8rem;
  background-color: rgba(1, 186, 239, 0.9);
  height: 5rem;
  width: 20rem;
  color: #fff;
  border-radius: .3rem;
  padding: 1.5rem;
  display: flex;
  align-items: center; }
  .temperature-box__icon {
    margin-top: -.5rem;
    width: 2.5rem;
    height: 2.5rem;
    fill: #fff;
    margin-right: .8rem; }
  .temperature-box__degree {
    display: flex;
    align-items: center; }
    .temperature-box__degree span {
      font-size: 1.8rem;
      margin-right: -.6rem; }
      @media only screen and (max-width: 37.5em) {
        .temperature-box__degree span {
          font-size: 1.6rem; } }
    .temperature-box__degree::after {
      content: '';
      display: inline-block;
      height: 3.2rem;
      width: .1rem;
      background-color: #faf9f9;
      margin-right: 1.5rem; }
  .temperature-box__celsius {
    width: 3.8rem;
    height: 3.8rem;
    fill: #fff; }
  .temperature-box__humidity {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 37.5em) {
      .temperature-box__humidity {
        font-size: 1.2rem;
        font-weight: 300; } }

.theme__switch {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.theme__switch div {
  position: relative;
  display: block;
  background: #eee;
  width: 36px;
  height: 18px;
  border-radius: 50px;
  padding: 0 5px;
  box-sizing: border-box;
  cursor: pointer; }

.ion-ios-sunny {
  display: inline-block;
  transform: rotate(180deg);
  display: inline-block;
  font-size: 2.5rem;
  margin-right: .8rem;
  color: var(--color-white);
  margin-top: -.3rem; }

.theme__switch input {
  display: none; }

.slider {
  background-color: #999;
  transition: 0.4s;
  border-radius: 34px;
  height: 12px;
  width: 12px;
  display: inline-block;
  position: relative;
  margin-top: .3rem; }

input:checked + .slider {
  transform: translateX(13px); }

.banner {
  grid-column: full-start / full-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  position: relative; }
  .banner__text-box {
    position: absolute;
    top: 55%;
    left: 32%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 50em) {
      .banner__text-box {
        top: 50%;
        left: 35%; } }
    @media only screen and (max-width: 50em) {
      .banner__text-box {
        top: 50%;
        left: 35%; } }
    @media only screen and (max-width: 37.5em) {
      .banner__text-box {
        top: 50%;
        left: 38%; } }
  .banner__info {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2rem;
    display: flex;
    align-items: center; }
    .banner__info-rooms {
      margin-right: 1.5rem; }

.page-banner {
  grid-column: full-start / full-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/living.png");
  background-size: cover;
  background-position: center;
  position: relative; }
  .page-banner__text-box {
    position: absolute;
    top: 55%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 40; }
    @media only screen and (max-width: 37.5em) {
      .page-banner__text-box {
        top: 50%;
        left: 40%; } }
  .page-banner__img-box {
    position: absolute;
    bottom: -20px;
    right: 4%; }
  .page-banner__img {
    height: 35rem;
    filter: brightness(85%); }
  .page-banner__info {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2rem;
    display: flex;
    align-items: center; }
    .page-banner__info-rooms {
      margin-right: 1.5rem; }
    .page-banner__info-devices {
      display: flex;
      align-items: center; }
  .page-banner__icon {
    display: inline-block;
    font-size: 1.6rem;
    color: #32CD32; }

.header {
  background-color: var(--color-secondary);
  border-bottom: 1px solid #f4f2f2;
  position: relative;
  z-index: 20;
  grid-column: sidebar-start / full-end;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__logo-box {
    margin-left: 3rem;
    margin-right: 0;
    margin-right: auto; }
  .header__logo {
    height: 3.8rem; }

.user-nav {
  margin-left: 0;
  margin-right: 3rem;
  align-self: stretch;
  position: relative;
  margin-left: 2rem; }
  .user-nav > * {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 2rem; }
  .user-nav > *:hover {
    background-color: #f4f2f2; }
  .user-nav__button {
    display: flex;
    align-items: center;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer; }
    .user-nav__button:focus {
      outline: none; }
  .user-nav__photo {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-right: .4rem;
    border: 2px solid var(--border-radius); }
  .user-nav__icon {
    font-size: 1.8rem;
    color: var(--font-color); }

.dropdown-panel {
  display: none !important;
  background-color: #EDEDED;
  z-index: 100;
  position: absolute;
  right: 0;
  top: 7rem;
  width: 250px;
  height: 170px;
  padding: 1rem;
  display: flex;
  flex-direction: column; }
  .dropdown-panel__user {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .dropdown-panel__photo {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-bottom: .5rem; }
  .dropdown-panel__name {
    font-size: 1.4rem; }
  .dropdown-panel__cta {
    display: flex;
    justify-content: center; }
  .dropdown-panel--setting {
    margin-right: .5rem; }
  .dropdown-panel--setting, .dropdown-panel--signout {
    background: none;
    border: none;
    border: 1px solid #01baef;
    padding: .5rem .8rem;
    border-radius: .3rem;
    font-family: inherit;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all .4s; }
    .dropdown-panel--setting:hover, .dropdown-panel--setting:focus, .dropdown-panel--signout:hover, .dropdown-panel--signout:focus {
      background-color: #05a7d4;
      color: #fff;
      outline: none; }

.dropdown-show {
  display: block !important; }

@media only screen and (max-width: 62.5em) {
  .header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__logo-box {
      margin-left: 3rem;
      margin-right: 0;
      margin-right: auto; }
    .header__logo:link, .header__logo:visited {
      display: inline-block;
      text-decoration: none;
      font-size: 2.4rem;
      text-transform: uppercase;
      color: var(--font-color); } }

@media only screen and (max-width: 37.5em) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__logo-box {
      margin-left: 1rem;
      margin-right: 0;
      margin-right: auto; }
    .header__logo:link, .header__logo:visited {
      display: inline-block;
      text-decoration: none;
      font-size: 2rem;
      text-transform: uppercase;
      color: var(--font-color); }
  .user-nav {
    margin-left: 0;
    margin-right: 0.5rem;
    align-self: stretch;
    position: relative;
    margin-left: .2rem; }
    .user-nav > * {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 2rem; }
    .user-nav > *:hover {
      background-color: #f4f2f2; }
    .user-nav__button {
      display: flex;
      align-items: center;
      text-decoration: none;
      background: none;
      border: none;
      cursor: pointer; }
      .user-nav__button:focus {
        outline: none; }
    .user-nav__photo {
      display: block;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      margin-right: .4rem;
      border: 2px solid var(--border-radius); }
    .user-nav__icon {
      font-size: 1.8rem;
      color: var(--font-color); }
  .dropdown-panel {
    display: none !important;
    background-color: #EDEDED;
    z-index: 100;
    position: absolute;
    right: 0;
    top: 7rem;
    width: 250px;
    height: 170px;
    padding: 1rem;
    display: flex;
    flex-direction: column; }
    .dropdown-panel__user {
      margin-bottom: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .dropdown-panel__photo {
      display: inline-block;
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      border: 2px solid #fff;
      margin-bottom: .5rem; }
    .dropdown-panel__name {
      font-size: 1.4rem; }
    .dropdown-panel__cta {
      display: flex;
      justify-content: center; }
    .dropdown-panel--setting {
      margin-right: .5rem; }
    .dropdown-panel--setting, .dropdown-panel--signout {
      background: none;
      border: none;
      border: 1px solid #01baef;
      padding: .5rem .8rem;
      border-radius: .3rem;
      font-family: inherit;
      font-size: 1.3rem;
      cursor: pointer;
      transition: all .4s; }
      .dropdown-panel--setting:hover, .dropdown-panel--setting:focus, .dropdown-panel--signout:hover, .dropdown-panel--signout:focus {
        background-color: #05a7d4;
        color: #fff;
        outline: none; }
  .dropdown-show {
    display: block !important; } }

.rooms-devices {
  grid-column: center-start / center-end;
  padding-top: 4rem;
  padding-bottom: 6rem; }
  .rooms-devices__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .rooms-devices__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 2.8rem;
    margin-top: 3rem; }
    @media (max-width: 37.5em) {
      .rooms-devices__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        grid-gap: 1.2rem;
        margin-top: 3rem; } }

.rooms {
  grid-column: center-start / center-end;
  padding-top: 4rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #eee; }
  @media (max-width: 37.5em) {
    .rooms {
      padding-top: 3rem;
      padding-bottom: 3rem; } }
  .rooms__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .rooms__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 3rem;
    margin-top: 3rem; }
    @media only screen and (max-width: 850px) {
      .rooms__content {
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        grid-gap: 2rem; } }
    @media only screen and (max-width: 50em) {
      .rooms__content {
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        grid-gap: 2rem; } }
    @media only screen and (max-width: 46em) {
      .rooms__content {
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        grid-gap: 1.5rem; } }
    @media (max-width: 37.5em) {
      .rooms__content {
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 1.2rem; } }
    @media (max-width: 25em) {
      .rooms__content {
        margin-top: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        grid-gap: 1.2rem; } }

.room {
  position: relative;
  cursor: pointer;
  transition: all .3s;
  border-radius: .9rem; }
  .room:hover:not(:last-child) {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transform: translateY(-4px); }
  .room__photo {
    display: block;
    border: 3px solid #eee;
    width: 100%;
    border-radius: .8rem;
    z-index: 5; }
    @supports (-webkit-filter: brightness(75%)) or (filter: brightness(75%)) {
      .room__photo {
        -webkit-filter: brightness(75%);
        filter: brightness(75%); } }
  .room__title {
    font-family: "Nunito", sans-serif;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 10; }
  .room__add {
    width: 100%;
    height: 100%;
    border: 3px solid #eee;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .room__add-text {
      font-family: "Nunito", sans-serif;
      font-size: 1.3rem;
      letter-spacing: .1rem;
      color: var(--font-color);
      text-transform: uppercase; }
  .room--add {
    cursor: pointer;
    background: none;
    border: none;
    margin-bottom: 1.3rem; }
    .room--add:focus {
      outline: none; }
    .room--add-icon {
      width: 3.5rem;
      height: 3.5rem;
      fill: #01baef; }

.scenarios {
  grid-column: center-start / center-end;
  padding-top: 3rem;
  padding-bottom: 4rem;
  margin-bottom: 3rem; }
  @media (max-width: 37.5em) {
    .scenarios {
      padding-top: 3rem;
      padding-bottom: 3rem;
      margin-bottom: 0; } }
  .scenarios__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .scenarios__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 3rem;
    margin-top: 3rem; }
    @media only screen and (max-width: 850px) {
      .scenarios__content {
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        grid-gap: 2rem; } }
    @media only screen and (max-width: 50em) {
      .scenarios__content {
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        grid-gap: 2rem; } }
    @media only screen and (max-width: 46em) {
      .scenarios__content {
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        grid-gap: 1.5rem; } }
    @media (max-width: 37.5em) {
      .scenarios__content {
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 1.2rem; } }
    @media (max-width: 25em) {
      .scenarios__content {
        margin-top: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        grid-gap: 1.2rem; } }

.scenario {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all .3s;
  border-radius: .9rem; }
  .scenario:hover:not(:last-child) {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transform: translateY(-4px); }
  .scenario__photo {
    display: block;
    border: 3px solid #eee;
    width: 100%;
    border-radius: .8rem;
    z-index: 5;
    filter: brightness(70%); }
  .scenario__title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 10; }
  .scenario__add {
    width: 100%;
    height: 100%;
    border: 3px solid #eee;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .scenario__add-text {
      font-family: "Nunito", sans-serif;
      font-size: 1.3rem;
      letter-spacing: .1rem;
      color: var(--font-color);
      text-transform: uppercase; }
  .scenario--add {
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 50%;
    margin-bottom: 1.3rem; }
    .scenario--add:focus {
      outline: none; }
    .scenario--add-icon {
      width: 3.5rem;
      height: 3.5rem;
      fill: #01baef; }

.sidebar {
  background-color: #101d2c;
  border-right: 1px solid var(--border-line);
  grid-column: sidebar-start / sidebar-end;
  grid-row: 2 / -1; }
  @media (max-width: 50em) {
    .sidebar {
      grid-column: 1 / -1;
      grid-row: 5 / -1;
      display: flex;
      justify-content: center;
      align-items: center; } }
  @media (max-width: 37.5em) {
    .sidebar {
      background-color: var(--color-secondary);
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 3000;
      grid-column: 1 / -1;
      grid-row: 5 / -1;
      display: flex;
      justify-content: center;
      align-items: center; } }
  .sidebar__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 7rem; }
    @media (max-width: 50em) {
      .sidebar__list {
        flex-direction: row;
        justify-content: space-evenly;
        justify-items: center;
        align-items: center;
        margin-top: 0; } }
    @media (max-width: 37.5em) {
      .sidebar__list {
        flex-direction: row;
        justify-content: space-evenly;
        justify-items: center;
        align-items: center;
        margin-top: 0; } }
  .sidebar__item {
    margin-bottom: 4rem; }
    @media (max-width: 50em) {
      .sidebar__item {
        margin-bottom: 0rem; }
        .sidebar__item:not(:last-child) {
          margin-right: 10rem; } }
    @media (max-width: 37.5em) {
      .sidebar__item {
        margin-bottom: 0rem; }
        .sidebar__item:not(:last-child) {
          margin-right: 10rem; } }
  .sidebar__link:link, .sidebar__link:visited {
    display: inline-block;
    text-decoration: none;
    border-radius: .5rem;
    padding: .8rem;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .sidebar__link--active {
    background-color: #01baef; }
  .sidebar__link-text {
    font-size: 1.5rem;
    color: #fff;
    justify-self: start;
    align-items: flex-start; }
  .sidebar__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: #faf9f9;
    transition: fill .3s; }
    .sidebar__icon:hover {
      fill: #01baef; }
    @media (max-width: 37.5em) {
      .sidebar__icon {
        fill: var(--font-color); } }
  .sidebar__title {
    font-size: 1rem;
    color: #faf9f9;
    transition: color .3s; }
    @media (max-width: 37.5em) {
      .sidebar__title {
        font-size: 1.4rem;
        color: var(--font-color); } }

.container {
  position: relative;
  box-shadow: 0 5rem 10rem rgba(0, 0, 0, 0.7);
  background-color: var(--color-background);
  max-width: 120rem;
  margin: 8rem auto;
  display: grid;
  grid-template-rows: 7rem 60vh repeat(2, min-content);
  grid-template-columns: [sidebar-start] 6rem [sidebar-end full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]; }
  @media (max-width: 62.5em) {
    .container {
      max-width: 100%;
      margin: 0; } }
  @media (max-width: 50em) {
    .container {
      max-width: 100%;
      margin: 0;
      grid-template-rows: 7rem 60vh repeat(2, min-content) 6rem;
      grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]; } }
  @media (max-width: 37.5em) {
    .container {
      max-width: 100%;
      margin: 0;
      grid-template-rows: 7rem 35vh repeat(2, min-content) 6rem;
      grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]; } }

.login {
  height: 100vh;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .login {
      width: 100%; } }

.login__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 6rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3); }

.theme-light {
  --color-primary: #0060df;
  --color-secondary: #ffff;
  --color-accent: #fd6f53;
  --font-color: #000000;
  --border-radius: #777;
  --color-white: #000;
  --color-background: #f7f7f7;
  --box-shadow: 0 .5rem 1rem rgba(#000, .3)
; }

.theme-dark {
  --color-primary: #17ed90;
  --color-secondary: #101d2c;
  --color-accent: #12cdea;
  --font-color: #ffffff;
  --color-white: #fff;
  --border-radius: #EDEDED;
  --border-line: #EDEDED;
  --color-background: #101d2c;
  --box-shadow: 0 .5rem 1rem rgba(#fff, .3)
; }
