// COLOR VARIABLES   
$color-primary: #01baef;
$color-primary-dark: #05a7d4;

$color-black: #000;   
$color-white: #fff;

$color-secondary: #101d2c; 

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
$color-grey-light-3: #3a3939; 

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;   


// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;


// MARGINS INDIVIUALS VARIABLES 
$mb-sm: 1.5rem;
$mb-md: 2.5rem;
$mb-l: 3rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;