:root {
    --navHeight: 70px;
    --sage: #D2CCA1;
    --paleSpringBud: #DEDABA;
    --goldCrayola: #E5C687;
    --richBlackForeground: #0F1A20;
    --white: #f8f8f8;
    --black: #222;
    --msuGreen: #2D4739;
    --gray: #eee;
  }

  .light-theme {
    --themeDropDownBg: var(--goldCrayola);
    --themeIconBorderColor: var(--sage);
    --navBg: var(--sage);
    --navLinkHoverBg: var(--paleSpringBud);
    --mainBg: var(--goldCrayola);
    --fontColor: var(--black);
  }
  
  .dark-theme {
    --themeDropDownBg: var(--msuGreen);
    --themeIconBorderColor: var(--richBlackForeground);
    --navBg: var(--richBlackForeground);
    --navLinkHoverBg: var(--msuGreen);
    --mainBg: var(--msuGreen);
    --fontColor: var(--white);
  }
  
@import "abstracts/mixins";
@import "abstracts/utilities";
@import "abstracts/variables";


@import "base/animation"; 
@import "base/base";
@import "base/typography";

@import "components/buttons";
@import "components/device-card"; 
@import "components/form";
@import "components/temperature-box"; 
@import "components/theme";

@import "layouts/banner";
@import "layouts/header";
@import "layouts/rooms";
@import "layouts/scenarios";
@import "layouts/sidebar";       
 
@import "pages/home";   
 
@import "themes/theme";



