.devices {
    padding: 6rem 0;   
    grid-column: center-start / center-end;
    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));     
        grid-gap: 3rem;
    }
}

.device { 
    background-color: $color-white; 
    border: 1px solid #b3b1b1;
    border-radius: 1.5rem; 


    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    grid-template-rows: repeat(3, min-content);

    &__icon {
        display: inline-block;
        font-size: 7rem;
        color: $color-primary;
        grid-column: 1 / -1; 
        grid-row: 1 / 1;
        justify-self: center;
    }

    &__text {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }
  
    &__title {
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
    }

    &__room {
        font-size: 1.6rem;
        text-align: center;
    }

    &__status {
        grid-column: 2 / 3;
        justify-self: right; 
        padding: 2rem;   
        grid-row: 1 / 1;
        display: flex;
        align-items: center; 
        font-weight: 600;
        justify-items: center;
        font-size: 1.6rem;

        i {
           
        }
    }

    &__on {
        display: inline-block;
        font-size: 1.5rem; 
        margin-right: .3rem;
        color: #32CD32;
    }

    &__off {
        display: inline-block;
        font-size: 1.5rem; 
        margin-right: .3rem;
        color: #f32626;
    }


    &__cta {

    }

    &__delete {
        grid-row: 3 / -1;
        padding: 1rem 2rem;
        background:none;
        border:none; 

        i {
            font-size: 2.2rem;
            color: $color-primary;
        }
    }

    &__save {
        padding: 1rem 2rem;
        background:none;
        border:none;

        i {
            font-size: 2.2rem;
            color: $color-primary;
        }
    }


}