.devices {
    padding: 4rem 0;
    grid-column: center-start / center-end;
    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));   

    }
}

.device {
    width: 16rem;
    height: 18rem;  
    border: 1px solid #777;

    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    grid-template-rows: repeat(3, 1fr);

    &__icon {
        display: inline-block;
        font-size: 6rem;
        grid-column: 1 / -1; 
        justify-self: center;
    }

    &__text {

    }

    &__title {
        grid-column: 1 / 1;
        grid-row: 2 / 3;
    }

    &__room {
        grid-column: 2 / 3;  
        grid-row: 2 / 3;
    }

    &__status {

        i {

        }
    }


    &__cta {

    }

    &__delete {

        grid-row: 3 / -1;
        i {  

        }

    }

    &__save {

        i {

        }
    }


}