.devices {
    padding: 4rem 0;
    grid-column: center-start / center-end;
    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));   
        grid-gap: 3rem;

    }
}

.device {
   
    border: 1px solid #777;

    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    grid-template-rows: repeat(3, min-content);

    &__icon {
        display: inline-block;
        font-size: 6rem;
        grid-column: 1 / -1; 
        justify-self: center;
    }
  
    &__title {
        grid-row: 2 / 3;
        font-size: 1.6rem;
    }

    &__room {
        grid-column: 2 / 3;  
        grid-row: 2 / 3;
    }

    &__status {

        i {

        }
    }


    &__cta {

    }

    &__delete {

        grid-row: 3 / -1;
        i {  

        }

    }

    &__save {

        i {

        }
    }


}