.device__switch {
    // width: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .device__switch div {
    position: relative;
    display: block;
    background: #eee;
    width: 36px;
    height: 18px;
    border-radius: 50px;
    padding: 0 5px;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .ion-ios-sunny {
    transform: rotate(180deg);
    display: inline-block;
    font-size: 2.5rem;
    margin-right: .5rem;
    color: var(--color-white);
  }
  
  .device__switch input {
    display: none;
  }
  
  .slider1 {
    background-color: #999;
    transition: 0.4s;
    border-radius: 34px;
    height: 12px;
    width: 12px;
    display: inline-block;
    position: relative;
    margin-top: .3rem;
  }
  
  input:checked + .slider1 {
    transform: translateX(13px);
  }
  
 
  