.device__switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 5px;
}

.device__switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
 
.device__slider {     
  position: absolute;
  cursor: pointer; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.device__slider:before {
  position: absolute;
  content: "";
  height: 15px;  
  width: 15px; 
  left: 4px;
  bottom: -5px;
  background-color: $color-primary;
  -webkit-transition: .4s;
  transition: .4s;
} 

input:checked + .device__slider {
  background-color: #2196F3;
}

input:focus + .device__slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .device__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(10px);
}

/* Rounded sliders */
.device__slider.device__round {
  border-radius: 34px;
}

.device__slider.device__round:before {   
  border-radius: 50%;
}