.temperature-box {
    margin-top: 2.8rem; 
    background-color: rgba($color-primary, .9);
    height: 5rem;       
    width: 20rem;
    color: $color-white;
    border-radius: .3rem;
    padding: 1.5rem;

    display: flex;
    // justify-content: space-around;
    align-items: center;
    
    
    

    &__icon {
        margin-top: -.5rem; 
        width: 2.5rem;
        height: 2.5rem;
        fill: $color-white;
        margin-right: .8rem;
    }

    &__degree { 
        span {
            font-size: 1.8rem; 
            margin-right: -.6rem;
        }
      
        display: flex;
        align-items: center;
        
        &::after {
            content: '';
            display: inline-block;
            height: 3.2rem; 
            width: .1rem;
            background-color: $color-grey-light-1; 
            margin-right: 1.5rem;
        }
    }

    &__celsius {
        width: 3.8rem;
        height: 3.8rem;
        fill: $color-white;
    }

    &__humidity {
        font-size: 1.3rem;  
        display: flex;
        flex-direction: column;
    }
} 


@media only screen and (max-width:$bp-small) {
    .temperature-box {
        margin-top: 1rem;
    }
}