*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    transition: background-color 0.7s ease, color 1s ease;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #444;
    background-color: lightblue;
}

.theme-light {
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --font-color: #000000;
    --border-radius: #777;
    --color-white: #000; 
    --color-background: #fff;


}

.theme-dark { 
    --color-primary: #17ed90;
    --color-secondary: #101d2c;
    --color-accent: #12cdea;
    --font-color: #ffffff;
    --color-white: #fff; 
    --border-radius: #EDEDED;
    --border-line: #EDEDED;
    --color-background: #101d2c;
}