%heading {
    font-family: $font-display;
    font-weight: 400;
}

.heading-primary {

    &--main {
        display: block;
        font-size: 1.7rem; 
        font-weight: 400;
        color: $color-white; 
        text-transform: uppercase;
        line-height: 2; 
        letter-spacing: .2rem;
        animation: moveInLeft 3s;  

        @media only screen and (max-width: $bp-small) {
            font-size: 1.5rem;
            @include margin($bottom: .5rem);
        }

        @media only screen and (max-width: $bp-xsmall) {
            font-size: 1.4rem;
            @include margin($bottom: .5rem);
        }
       
    }

    &--sub {
        display: block;
        @extend %heading;
        font-size: 2.6rem;
        color: $color-grey-light-1; 
        text-transform: uppercase;
        letter-spacing: .2rem;
        animation: moveInRight 4s 1s;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.7rem;
        }

        @media only screen and (max-width: $bp-xsmall) {
            font-size: 1.7rem;
        }
       
    }
}

.heading-1 {
    @extend %heading;
    font-size: 2.8rem;
    color: $color-grey-light-1; 
    text-transform: uppercase;
    letter-spacing: .2rem;
    line-height: 1;
    animation: moveInLeft 3s; 

    @media only screen and (max-width: $bp-small) {
        font-size: 2rem;
    }

    @media only screen and (max-width: $bp-xsmall) {
       font-size: 1.8rem;
       line-height: 0;
    }
}

.heading-2 {
    @extend %heading;
    display: inline-block; 
    font-size: 1.8rem;
    color: var(--font-color); 
    text-transform: uppercase;
    justify-self: start; 
    align-self: center;
} 

.heading-3 {
    display: block;
    font-size: 1.8rem; 
    font-weight: 400;
    color: $color-black; 
    text-transform: uppercase;
    line-height: 2; 
    letter-spacing: .2rem;
    line-height: 1.5;
    animation: moveInRight 4s 1s;

    @media only screen and (max-width: $bp-small) {
        font-size: 1.5rem;
        @include margin($bottom: 2rem);
    }

    @media only screen and (max-width: $bp-xsmall) {
        font-size: 1.3rem;
     }
}

// @media only screen and (max-width:$bp-medium) {
//     .heading-primary {

//         &--main {
//             font-size: 1.8rem; 
//             letter-spacing: .3rem;
//         }
    
//         &--sub {
//             font-size: 2.4rem;
//         }
//     }

//     .heading-2 {
//         font-size: 2rem;
//         letter-spacing: .2rem;
//     } 
// }

// @media only screen and (max-width:$bp-small) {
//     .heading-primary {

//         &--main {
//             font-size: 1.4rem; 
//             letter-spacing: .2rem;
//             line-height: 1.9;
//         }
    
//         &--sub {
//             display: block;
//             font-size: 1.6rem;
//         }
//     }

//     .heading-2 {
//         font-size: 2rem;
//         letter-spacing: .2rem;
//     } 
// }
