%heading {
    font-family: $font-display;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size: 3.6rem;
    color: $color-grey-light-1;
    text-transform: uppercase;
}

.heading-2 {
    display: inline-block; 
    font-size: 2.2rem;
    color: $color-secondary; 
    text-transform: uppercase;
    justify-self: start; 
    align-self: center;
} 

.heading-3 {
    display: block;
    font-size: 2rem; 
    color: $color-black; 
    text-transform: uppercase;
}


@media only screen and (max-width:$bp-small) {
    .heading-1 {
        font-size: 1.8rem;
        letter-spacing: .2rem;
        line-height: 1.7;
        
    }

    .heading-3 {
        font-size: 1.5rem; 
        word-spacing: .2rem;
        line-height: 1.7;
        letter-spacing: .3rem;
    }
}