.container {
    box-shadow: 0 5rem 10rem rgba(0, 0, 0, .7);
    background-color: #EDEDED;
    max-width: 120rem; 
    margin: 8rem auto;
    display: grid;  
    grid-template-rows: 7rem 68vh repeat(2, min-content);
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(3rem, 1fr) 
                        [center-start] repeat(8,[col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end] ; 
                        
}  

@media only screen and (max-width:$bp-small) {
    .container {
        max-width: 100%;
        margin: 0; 
    }
}

@media only screen and (max-width:$bp-small) {
    .container {
        max-width: 100%;
        margin: 0; 

        grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(3rem, 1fr) 
        [center-start] repeat(8,[col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end] ; 
    }

    
}