.container {
    position: relative; 
    box-shadow: 0 5rem 10rem rgba(0, 0, 0, .7);
    background-color: var(--color-background);
    max-width: 120rem; 
    margin: 8rem auto; 
    display: grid;  
    grid-template-rows: 7rem 60vh repeat(2, min-content);
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(3rem, 1fr) 
                        [center-start] repeat(8,[col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end] ;   
                        
    @media only screen and (max-width:$bp-large) {
        max-width: 100%;
        margin: 0; 
    }

    @media only screen and (max-width:$bp-medium) {
        max-width: 100%;
        margin: 0;    
        grid-template-rows: 7rem 60vh repeat(2, min-content) 6rem;
        grid-template-columns: [full-start] minmax(3rem, 1fr) 
                            [center-start] repeat(8,[col-start] minmax(min-content, 12rem) [col-end]) 
                            [center-end] minmax(3rem, 1fr) [full-end] ;   
    }

    @media only screen and (max-width:$bp-small) {
        max-width: 100%;
        margin: 0;    
        grid-template-rows: 7rem 45vh repeat(2, min-content) 6rem;
        grid-template-columns: [full-start] minmax(3rem, 1fr) 
                            [center-start] repeat(8,[col-start] minmax(min-content, 12rem) [col-end]) 
                            [center-end] minmax(3rem, 1fr) [full-end] ;   
                            
    }
}   

.login { 
    height: 100vh;
    position: relative;

    @media only screen and (max-width: $bp-small) {
        width: 100%;
    }
 }
 
 .login__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-white;
    padding: 6rem;
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .3);

    @media only screen and (max-width: $bp-small) {
        // position: relative;
        // transform: translate(-50%, -50%);
        // background-color: $color-white;
        // padding: 6rem; 
        // box-shadow: none;
    }
 }

//  @media only screen and (max-width: $bp-large) {
//     .container {
//         width: 100%;  
//         margin: 0; 
//         box-shadow: 0 0rem 0rem rgba(0, 0, 0, .7);
//         grid-template-rows: 7rem 60vh repeat(2, min-content) 8rem;
//         grid-template-columns: [full-start] minmax(3rem, 1fr) 
//                             [center-start] repeat(8,[col-start] minmax(min-content, 12rem) [col-end]) 
//                             [center-end] minmax(3rem, 1fr) [full-end] ;                             
//     } 
// }

// @media only screen and (max-width:$bp-medium) {
//     .container {
//         width: 100%;
//         margin: 0; 
//         grid-template-rows: 7rem 45vh repeat(2, min-content) 8rem;
//         grid-template-columns: [sidebar-start] 0rem [sidebar-end full-start] minmax(3rem, 1fr) 
//         [center-start] repeat(8,[col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end] ; 
//     }
// }

// @media only screen and (max-width:$bp-small) {
//     .container {
//         max-width: 100%;
//         margin: 0; 
//         grid-template-rows: 7rem 45vh repeat(2, min-content) 8rem;
//         grid-template-columns: [sidebar-start] 0rem [sidebar-end full-start] minmax(3rem, 1fr) 
//         [center-start] repeat(8,[col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end] ; 
//     }
// }



