.banner {
    grid-column: full-start / full-end;

    background-image:linear-gradient(rgba($color-black, .5), rgba($color-black, .5)), url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

    &__text-box {
        position: absolute; 
        top: 55%;
        left: 32%; 
        transform: translate(-50%, -50%);
    }

    &__info {
        font-size: 1.4rem;  
        color: $color-white;
        font-weight: 400;
        text-transform: uppercase; 
        margin-top: 2rem; 
        display: flex; 
        align-items: center;
   
        &-rooms {  
            margin-right: 1.5rem;   
        }  

        &-devices {

        }

    }
}

.page-banner {
    grid-column: full-start / full-end;

    background-image:linear-gradient(rgba($color-black, .5), rgba($color-black, .5)), url("../img/livingroom.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

    &__text-box {
        position: absolute;   
        top: 55%;
        left: 35%; 
        transform: translate(-50%, -50%);
        z-index: 40;
    }

    &__img-box { 
        position: absolute;  
        bottom: -20px;   
        right: 4%;
        
    }

    &__img { 
        height: 35rem;  
        filter: brightness(85%); 
    }

    &__info {
       
        font-size: 1.6rem;  
        color: $color-white;
        font-weight: 400;
        text-transform: uppercase; 
        margin-top: 2rem;

        display: flex; 
        align-items: center;
   
        &-rooms {  
            margin-right: 1.5rem;   
        }  

        &-devices {
            display: flex;
            align-items: center;
        } 
    }

    &__icon {
        display: inline-block;
        font-size: 1.6rem;
        color: #32CD32;    
    }
}

@media only screen and (max-width:$bp-medium) {
    .banner {      
        &__text-box {
            position: absolute; 
            top: 50%;
            left: 40%; 
            transform: translate(-50%, -50%);
        }
    
        &__info {
            font-size: 1.6rem;   
            letter-spacing: .5rem; 
                  
            &-rooms {  
                margin-right: 1.5rem;   
            }  
    
            &-devices {
    
            }
    
        }
    }
} 


@media only screen and (max-width:$bp-small) {
    .banner {      
        &__text-box {
            position: absolute; 
            top: 50%;
            left: 40%; 
            transform: translate(-50%, -50%);
        }
    
        &__info {
            font-size: 1.3rem;  
            letter-spacing: .5rem; 
                  
            &-rooms {  
                margin-right: 1.5rem;   
            }  
    
            &-devices {
    
            }
    
        }
    }
}


@media only screen and (max-width:$bp-large) {
    &__text-box {
        position: absolute; 
        top: 50%;
        left: 38%; 
        transform: translate(-50%, -50%);
    }
}