.rooms {
    grid-column: center-start / center-end;
    @include padding($top: $pd-sm, $bottom: $pd-sm);

    &__top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);     
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 3rem;
        margin-top: 3rem;
    }
    
}

.room {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__photo {
        width: 100%; 
        grid-column: 1 / -1;
    }
}


@media only screen and (max-width:$bp-small) {
    .rooms {
            
        &__top {
            display: grid;
            grid-template-columns: repeat(2, 1fr);     
        }
    
        &__content {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));  
            grid-gap: 1.2rem;
            margin-top: 3rem;
        }
    }
}

