.rooms {
    grid-column: center-start / center-end;
    @include padding($top: $pd-xlg, $bottom: $pd-sm);

    &__top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);     
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-gap: 3rem;
        margin-top: 3rem;
    }
    
    border-bottom: 1px solid #eee;
}

.room {
    position: relative;
    cursor: pointer;
    transition: all .3s;
    border-radius: .9rem; 

    &:hover:not(:last-child) {
        box-shadow: 0 .5rem 1rem rgba($color-black, .3);
    }

    &__photo {
        display: block;
        border: 3px solid #eee;  
        width: 100%; 
        border-radius: .8rem;
        z-index: 5;
        filter: brightness(79%);
    }

    &__title {
        font-family: $font-primary;
        font-size: 1.6rem; 
        color: $color-white;
        text-transform: uppercase;

        position: absolute;
        bottom: 10%;
        left: 5%;
        z-index: 10;
    }

    &__add {
        width: 20rem;
        height: 12.3rem;
        border: 3px solid #eee;
        border-radius: .8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-text {
            font-family: $font-primary;
            font-size: 1.3rem;
            text-transform: uppercase; 
        }
    }

    &--add {
        cursor: pointer;
        background: none;
        border: none;
        background-color: $color-primary;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        margin-bottom: 1.3rem;

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: $color-primary-dark;
        }

        &-icon {
            width: 1.8rem;
            height: 1.8rem;
            fill: $color-white;
        }
    }
}


@media only screen and (max-width:$bp-small) {
    .rooms {    
        &__content {
            grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));  
            grid-gap: 1.2rem;
            margin-top: 3rem;
        }
    }

    .room {
        &__add {
            width: 20.5rem;
            height: 11.9rem;
        }
    }
} 


