.rooms-devices {
    grid-column: center-start / center-end;
    @include padding($top: $pd-md, $bottom: $pd-lg);

    &__top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);     
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));   
        grid-gap: 2.8rem;
        margin-top: 3rem;

        @include respond(bp-small) {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)); 
            grid-gap: 1.2rem;
            margin-top: 3rem;
        }
    }
}
 