.sidebar {
    background-color: $color-secondary;
    border-right: 1px solid var(--border-line);
    grid-column: sidebar-start / sidebar-end;
    grid-row: 2 / -1;

    @include respond(bp-medium) {
        grid-column: 1 / -1;
        grid-row: 5 / -1;
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    @include respond(bp-small) {
        grid-column: 1 / -1;
        grid-row: 5 / -1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-items: center;  
        align-items: center; 
        margin-top: 7rem;

        @include respond(bp-medium) {
            flex-direction: row;
            justify-content: space-evenly;
            justify-items: center;  
            align-items: center; 
            margin-top: 0; 
        }

        @include respond(bp-small) {
            flex-direction: row;
            justify-content: space-evenly;
            justify-items: center;  
            align-items: center; 
            margin-top: 0; 
        }
    } 

    &__item {
        margin-bottom: 4rem;

        @include respond(bp-medium) {
            margin-bottom: 0rem;

            &:not(:last-child) {
                margin-right: 10rem;
            }
        }

        @include respond(bp-small) {
            margin-bottom: 0rem;

            &:not(:last-child) {
                margin-right: 10rem;
            }
        }
    }

    &__link {
      
        &:link,
        &:visited {
            display: inline-block;
            text-decoration: none;
            border-radius: .5rem;
            padding: .8rem;
            transition: all .3s;
        }

        &--active {
            background-color: $color-primary;
        }
        
        &:hover {
            background-color: $color-primary;
        }

        &-text {
            font-size: 1.5rem;
            color: $color-white;
            justify-self: start;
            align-items: flex-start;
        }

    }

    &__icon {
        width: 3rem;
        height: 3rem;
        fill: $color-grey-light-1;
    }
}

